<!DOCTYPE html>
<html>
  <head>
    <title>Nuevoentrenamiento</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <img = src="http://e00-marca.uecdn.es/assets/multimedia/imagenes/2017/01/26/14854343269260.jpg" alt="correr" style="width:1100px;height:200px">
    <%= yield %>
  </body>
</html>
